body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

.container {
    display: flex;
    height: 100vh;
}
.footer{
    background-color: #800000; 
    color: white; 
    padding: 1%; 
    margin: 0px; 
    text-align: center;
}
.sidebar {
    width: 200px;
    background-color: #800000; 
    color: white; 
    padding: 1%; 
    margin: 0px; 
}

.sidebar-item {
    padding: 10%;
    margin-bottom: 60px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    width: 100%;
    
    text-align: center;
    font-size: inherit; 
    font-family: inherit; 
    outline: none; 
    box-shadow: none; 
    appearance: none; 
    background-color: #3a3a3a;
}
.EventsList
    {
        background-color: #800000; 
        color: white; 

        padding: 1%; 
        margin: 20  px; 
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgb(255, 0, 0);
    }
#background {
	width: 100%;
	min-height: 10px;
	flex: 1 1 100%;
	overflow: hidden;
	
}
.sidebar-item:hover {
    background-color: #4c4c4c;
}

.content {
    overflow-x: auto;
    flex-grow: 1;
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
}

.header {
    font-size: 4em;
    font-weight: bold;
    margin: 0; 
    padding: 10px; 
    background-color: #800000; 
    color: white; 
}

.welcome, .what-we-do, .meeting-time, .background-note {
    background-color: #000000;
    padding: 20px;
    margin: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ff0000;
    border-radius: 100px;
    box-shadow: 2px 2px 5px rgb(255, 0, 0);
    color: white;
    min-height: 40px;
    max-height: 40px;
    min-width: 400px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

